body {
/*    padding-top: 40px;*/
    padding-bottom: 40px;
    background-color: #f7f7f7;
}
p, span {
    font-size: 18px;
}


.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}


.planed-visits,
.main-patient-information{
    height: 250px;
    margin: 15px;
    border: 2px solid #71d8a3;
    border-radius: 10px;
    background-color: #fff;
    
}
.main-patient-information{
    height: 327px;
}
.main-doctor-information{
    height: 205px;
}
.patient-photo {
    width: 150px;
    height: 150px;
    margin: 25px auto;
    border-radius: 50%;
}
.patient-photo img{
    width: 150px;
    height: 150px;
    border: 2px solid #71d8a3;
    background-color: #71d8a3;
    border-radius: 50%;
}

.patient-fullname{
    font-size: 24px;
    font-weight: bold;
}
.text-block {
    margin-top: 15px;
}
.text-block p span {
    font-weight: bold;
}
h2 {
    
}
h2 span {
    font-weight: bold;
    font-size: 38px;
}

.visit-item{
    margin: 10px 25px;
    text-align: center;
}
.visit-item .glyphicon {
    top: 2px;
    margin-left: 5px;
    font-size: 16px;
    color: #5bb386; 
}

.visit-item p {
    padding-bottom: 5px;
    border-bottom: 2px solid #71d8a3;
}
.visit-item .tooltip-inner{
    background-color: #64ab86;
    max-width: 400px;
}
.visit-item .tooltip-arrow{
    border-top-color: #71d8a3;
}
.visit-item .tooltip-inner p{
    margin: 0;
    text-align: left;
    font-size: 16px;
    
}

.planed-visits-title{
    height: 50px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: rgba(111,216,161,1);
    background: -moz-linear-gradient(left, rgba(111,216,161,1) 0%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(111,216,161,1)), color-stop(50%, rgba(65,208,182,1)), color-stop(100%, rgba(18,199,202,1)));
    background: -webkit-linear-gradient(left, rgba(111,216,161,1) 0%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 100%);
    background: -o-linear-gradient(left, rgba(111,216,161,1) 0%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 100%);
    background: -ms-linear-gradient(left, rgba(111,216,161,1) 0%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 100%);
    background: linear-gradient(to right, rgba(111,216,161,1) 0%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fd8a1', endColorstr='#12c7ca', GradientType=1 );
}
.planed-visits-title p {
    text-align: center;
    padding: 10px;
    margin: 0;
    color: #fff;
}

.planed-visits-title .glyphicon-calendar {
    margin-right: 5px;
    font-size: 16px;
}

.history-item,
.patient{
    margin: 25px;
    padding: 20px;
    border: 2px solid #71d8a3;
    border-radius: 10px;
    background-color: #fff;
}
.history-item p,
.patient p{
    margin: 0;
}

.endedAppointment-date,
.planedAppointment-date {
    float: right;
    font-weight: bold;
}

.doctorName,
.patientName,
.departmentName { 
font-weight: bold;
}


p.symptoms{
    margin-top: 10px;
}

.doctorPhoto,
.patientPhoto {
    display: inline;
}

.doctorPhoto img,
.patientPhoto img{
    width: 70px;
    border-radius: 50%;
    border: 2px solid #eee;
}

.reserveAppointment{
    margin: 0 15px 0 15px;
    display: block;
    margin: 0 auto;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(111,216,161,1);
    background: -moz-linear-gradient(left, rgba(111,216,161,1) 0%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(111,216,161,1)), color-stop(50%, rgba(65,208,182,1)), color-stop(100%, rgba(18,199,202,1)));
    background: -webkit-linear-gradient(left, rgba(111,216,161,1) 0%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 100%);
    background: -o-linear-gradient(left, rgba(111,216,161,1) 0%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 100%);
    background: -ms-linear-gradient(left, rgba(111,216,161,1) 0%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 100%);
    background: linear-gradient(to right, rgba(111,216,161,1) 0%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fd8a1', endColorstr='#12c7ca', GradientType=1 );
    color: #eee;
}

.reserveAppointment {
    border-radius: 5px;
}
.reserveAppointment:hover,
.appointment:hover {
    border-color:#71d8a3;
    color: #fff;
}

.appointment{
    border: 2px solid transparent;
    border-color: #71d8a3;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(111,216,161,1);
    background: -moz-linear-gradient(left, rgba(111,216,161,1) 0%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(111,216,161,1)), color-stop(50%, rgba(65,208,182,1)), color-stop(100%, rgba(18,199,202,1)));
    background: -webkit-linear-gradient(left, rgba(111,216,161,1) 0%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 100%);
    background: -o-linear-gradient(left, rgba(111,216,161,1) 0%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 100%);
    background: -ms-linear-gradient(left, rgba(111,216,161,1) 0%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 100%);
    background: linear-gradient(to right, rgba(111,216,161,1) 0%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fd8a1', endColorstr='#12c7ca', GradientType=1 );
    color: #eee;
}




img.active-img{
    display: none;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: #332f35;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
/*  padding: 5px 20px;*/ 
    padding: 5px 47px;
    margin-bottom: 0px;
}

input[type=radio]:checked + label{
  color: #fff;
  background: #332f35;
}
input[type=radio]:checked + label img.active-img{
  display: inline;
    
}
input[type=radio]:checked + label img.not-active-img{
  display: none;
    
}
input[type=radio]:checked + label[for=patient] {
  background: #70d8a3;
    
}
input[type=radio]:checked + label[for=patient]:parent {
  border-color: #70d8a3;
    
}
input[type=radio]:checked + label[for=doctor] {
  background: #12c5c9;    
}
input[type=radio]:checked + label[for=doctor]:parent {
  border-color: #12c5c9;  
}
/*
label + input[type=radio] + label {
  border-left: solid 3px #332f35;
}
*/
.radio-group {
    border: solid 2px #70d8a3;
    display: inline-block;
/*    margin: 20px;*/
    border-radius: 10px;
    overflow: hidden;
/*    margin-left: 50px;*/
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
.full-patient-info{
    font-size: 20px;
    top: 5px;
    left: 4px;
}
.more-info-link{
    color: #000;
}
.more-info-link:hover{
    color: rgba(111,216,161,1);
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}

.modal-header{
    background: linear-gradient(to right, rgba(111,216,161,1) 0%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 100%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-weight: bold;
}

.patientPhoto.atModal{
    display: block;
    margin-left: 250px;
}
.noresize {
  resize: none; 
}

.disableStyles{
    color: inherit;
    cursor: inherit;
    padding: 0;
    margin-bottom: 5px;
}
.appointment.btn.small{
    border: 2px solid transparent;
    border-color: #71d8a3;
    text-transform: none;
    font-weight: normal;
    background: rgba(111,216,161,1);
    background: linear-gradient(to right, rgba(111,216,161,1) 0%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 100%);
    color: #eee;
}
.appointment.btn.small:hover{
    color: #fff;
    background: rgba(111,216,161,1);
    background: linear-gradient(to right, rgba(111,216,161,1) 20%, rgba(65,208,182,1) 50%, rgba(18,199,202,1) 80%);
    
}

.doctor-cancel-btn{
    font-size: 24px;
    top: 8px;
    left: 4px;
    cursor: pointer;
    color: #b5b5b5;
}
.doctor-cancel-btn:hover{
    color: #71d8a3;
}

header{
    height: 120px;
    background-color: #ffffff;
    box-shadow: 3px 4px 30px 0px rgba(0, 0, 0, 0.1); 
    text-shadow: 3px 4px 30px rgba(0, 0, 0, 0.1); 
}

.healthlog-logo{
    margin-top: 17px;
}
.healthlog-logo.on-login-page{
    display: block;
    margin: 0 auto;
    margin-top: 17px;
}
.user-logout{
    display: inline;
    float: right;
    margin-top: 23px;
}

.logout-btn{
    cursor: pointer;
    font-size: 20px;
}