body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f7f7f7;
}
p, span {
    font-size: 18px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}

.main-user-information {
    margin: 15px;
    border: 2px solid #71d8a3;
    border-radius: 10px;
    background-color: #fff;
    
}

.user-photo {
    width: 150px;
    height: 150px;
    border: 2px solid #71d8a3;
    background-color: #71d8a3;
    margin: 5% auto;
}
.user-fullname{
    font-size: 24px;
    font-weight: bold;
}
.text-block p span {
    font-weight: bold;
}
h2 {
    
}
h2 span {
    font-weight: bold;
    font-size: 38px;
}
}